
*{

font-family: 'Roboto', sans-serif;
list-style: none;
text-decoration: none;
border-collapse: collapse;
margin: 0px;
padding: 0px;
color: #000;
}

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

.intro_bg{

    background-image:url("image/BG.png");
    height: 970px;
    width: cover
;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
    justify-content: center;

}

.searchArea{
    display: flex;
width: 300px;
height: 40px;
border-radius: 5px;
margin-top: 24px;
background: rgba(0,0,0,0.5)

}

.searchArea > form > input{

border: none;
width: 250px;
height: 40px;
background: rgba(0,0,0,0);
padding-left: 10px;
}


.searchArea > form > span{

    width: 25px;
    color: #fff;
    cursor: pointer;



}


.nav{
    display: flex;
    justify-content: flex-start;
    width: 800px;
    line-height: 86px;
    margin: auto;

    color: #fff;
}

.nav > li{

    margin-left: 84px;
}


.nav > li > a{
    color: #fff;}


    .intro_text{

     width: 100%;
     margin: 100px auto 30px auto;
     text-align: center
     
    }

    .intro_text > h1{

        color: rgb(255, 255, 255);
        font-size: 50px;
        margin-bottom: 10px;
        
        text-align: center;
    }
    .contents{

        text-align: center;
        font-size: 15px;
        font-weight: 20;
        color: #fff
        ;

    }

    .logo{
        margin: auto;
        display: flex;
        width: 100px;
        height: 40px;

    }
  
.photo{
display: flex;
    width: 30%;
    height: 50%;

    position: relative;
justify-content: center;
margin: auto;
transition: all 300ms ease;
    


}

.photo > img{
    display: flex;
    justify-content: center;
width: 400px;
height: 400px;
position: absolute;
border-radius: 30px;
transition: all 300ms ease;
filter: drop-shadow(10px 5px 5px rgba(0, 0, 0,0.1));





}

.aside{

    position: fixed;


}
h{
    text-align: center;
    line-height: 50px;
    color: white;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    transform: translateY(270px);
    background-color: rgba(0,0,0,0.5);
    transition: all 100ms ease;
}

aside.open{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    transition: all 1600ms ease;
    transform: translateY(-270px);

    
    color: #fff;
}


.wrap{

    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
}

.wrap.open{


    width:100%;
}

nav.open{
    margin-top: 100px;
}

